{% extends 'base.html'%}
{% load static %}
{% block content%}
      <div class="text-center mt-5 pt-5">
            <img src="{% static 'image/logo.png'%}" class="img-fluid",style="height:00px;">
        </div>
    <div class="pay-page">
      <div class="form">
        <div class="pay">
          <div class="pay-header">
            <h2>Sparks Foundation</h2>
            <p>Payment Gateway Integration</p>
          </div>
        </div>
        
            
          <a href="https://rzp.io/l/LPZDnLJY9Q" class="btn btn-success">pay</a>
          <p class="message">Created By Vaibhav Singh</p>
      </div>
</div>
{% endblock content%}
